/*! CSS Used from: https://500315.cevadotech.com/vendor/revolution/css/layers.css */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*! CSS Used from: Embedded */

[data-unique-snippet-id="jkofreg0"] {
    color: #fff;
}

[data-unique-snippet-id="jkofreg0"] {
    position: relative;
}

[data-unique-snippet-id="jkofreg0"] .callout-1-img-wrapper:before {
    padding-top: 10%;
    content: " ";
    display: block;
}

[data-unique-snippet-id="jkofreg0"] .callout-1-img-wrapper img {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
    margin: 0;
    filter: saturate(0.8);
}

[data-unique-snippet-id="jkofreg0"] .callout-1-hover-mask {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    z-index: -2;
    transition: .3s opacity;
    position: absolute;
    margin: auto;
}

[data-unique-snippet-id="jkofreg0"] .callout-1-hover {
    text-shadow: 1px 1px 4px #1f1f1f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    position: absolute;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 1650px) {
    [data-unique-snippet-id="jkofreg0"] .callout-1-hover {
        font-size: 22px;
    }
}

@media (max-width: 1100px) {
    [data-unique-snippet-id="jkofreg0"] .callout-1-hover {
        font-size: 18px;
    }
}

@media (max-width: 610px) {
    [data-unique-snippet-id="jkofreg0"] .callout-1-hover {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    [data-unique-snippet-id="jkofreg0"] .callout-1-hover {
        font-size: 18px;
    }
}

[data-unique-snippet-id="jkofreg0"] .callout-1-hover:before {
    height: 10px;
    content: " ";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
}

[data-unique-snippet-id="jkofreg0"] .callout-1-hover:after {
    height: 10px;
    content: " ";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}