.cvdo-poi h1 {
    font-weight: 600;
}
.cvdo-poi .row img {
    margin: auto;
}
.cvdo-poi .google-map,
.cvdo-poi .instagram-iframe {
    position: relative;
}
.cvdo-poi .google-map:before {
    display: block;
    content: " ";
    padding-top: 75%;
}
.cvdo-poi .instagram-iframe:before {
    display: block;
    content: " ";
    padding-top: 101%;
}
.cvdo-poi .google-map iframe,
.cvdo-poi .instagram-iframe iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    outline: 0;
}
.cvdo-poi .toolbox,
.cvdo-poi .mobile-toolbox {
    border-radius: 0;
    border: none;
}
.cvdo-poi .toolbox .list-group-item,
.cvdo-poi .mobile-toolbox .list-group-item {
    border-radius: 0 !important;
    border: none;
    background-color: rgb(84, 194, 255);
    color: #fff;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-left: 70px;
    cursor: pointer;
    transition: .3s background, height .35s ease;
}
.cvdo-poi .toolbox .list-item-dropdown,
.cvdo-poi .mobile-toolbox .list-item-dropdown {
    font-size: 14px;
}
.cvdo-poi .toolbox .list-item-dropdown > div,
.cvdo-poi .mobile-toolbox .list-item-dropdown > div {
    display: block;
    width: 100%;
}
.cvdo-poi .toolbox .list-group-item {
    margin-bottom: 7px;
}
.cvdo-poi .mobile-toolbox .list-group-item {
    margin-bottom: 1px;
}
.cvdo-poi .toolbox .list-group-item.collapse,
.cvdo-poi .mobile-toolbox .list-group-item.collapse {
    display: none !important;
}
.cvdo-poi .toolbox .list-group-item.show,
.cvdo-poi .mobile-toolbox .list-group-item.show {
    display: flex !important;
}
.cvdo-poi .toolbox .list-group-item:hover,
.cvdo-poi .mobile-toolbox .list-group-item:hover {
    background-color: rgb(29, 177, 255);
}
.cvdo-poi .toolbox .list-group-item:hover .toolbox-icon,
.cvdo-poi .mobile-toolbox .list-group-item:hover .toolbox-icon {
    background-color: rgb(84, 194, 255);
}
.cvdo-poi .toolbox .event-calendar {
    background-color: #0183CF !important;
    color: #fff;
    padding: 0;
    width: 100%;
    position: relative;
}
.cvdo-poi .toolbox .event-calendar-week-day {
    background-color: #016BA9;
    width: 100%;
    padding: 5px 10px;
}
.cvdo-poi .toolbox .event-calendar-info {
    padding: 15px 20px;
    line-height: 1;
    letter-spacing: .125rem;
}
.cvdo-poi .toolbox .event-calendar-month {
    font-size: 36px;
    font-weight: 300;
}
.cvdo-poi .toolbox .event-calendar-day {
    font-size: 56px;
    font-weight: bold;
}
.cvdo-poi .toolbox .event-calendar-img {
    right: 5px;
    top: 5px;
    position: absolute;
    width: calc(100% - 120px);
    height: calc(100% - 10px);
    display: none;
}
.cvdo-poi .toolbox-icon {
    width: 57px;
    height: 57px;
    line-height: 57px;
    background: rgb(29, 177, 255);
    font-size: 36px;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    transition: .3s background;
}
.cvdo-poi .toolbox-button {
    background-color: rgb(253,168,51);
    color: #fff;
    text-align: center;
    font-size: 36px;
    transition: .3s background;
    line-height: 54px;
    border-left: 1px solid #fff;
}
.cvdo-poi .mapboxgl-map {
    border: 1px solid #cdcdcd;
}
/*
.cvdo-poi .toolbox-button:first-child {
    border-left: none;
    font-size: 20px;
    font-weight: bold;
}
.cvdo-poi .toolbox-button:last-child {
    position: relative;
    overflow: hidden;
}
.cvdo-poi .toolbox-button:last-child:before {
    content: "...";
    font-size: 64px;
    position: absolute;
    top: -24px;
    left: 0;
    right: 0;
}*/
.cvdo-poi .toolbox-button:hover,
.cvdo-poi .toolbox-button:focus {
    text-decoration: none;
    background-color: rgb(251,146,2);
}
.cvdo-poi.breakpoint-min-510 .toolbox-button {
    background-color: rgb(253,168,51);
    color: #fff;
    text-align: center;
    font-size: 58px;
    transition: .3s background;
    line-height: 72px;
    border-left: 1px solid #fff;
}
.cvdo-poi.breakpoint-min-510 .toolbox-button:first-child {
    border-left: none;
    font-size: 24px;
    font-weight: bold;
}
.cvdo-poi.breakpoint-min-510 .toolbox-button:last-child {
    position: relative;
    overflow: hidden;
}
.cvdo-poi.breakpoint-min-510 .toolbox-button:last-child:before {
    content: "...";
    font-size: 128px;
    position: absolute;
    top: -48px;
    left: 0;
    right: 0;
}
.sandwich-header {
    font-size: 22px;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding-top: .2em;
    padding-bottom: .2em;
    text-align: left;
}
.cvdo-poi .contact-info {
    text-align: center;
    word-break: break-word;
}

.cvdo-poi .contact-info hr {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.cvdo-poi.breakpoint-min-690 .contact-info {
    text-align: left;
}

.cvdo-poi .slick-cloned {
    visibility: hidden !important;
}

ul.slickslide,
ul.slick-thumbs {
    padding-left: 0;
    max-width: 100%;
}
ul.slickslide {
    margin-bottom: 3px;
    list-style: none;
}
ul.slick-thumbs {
    margin-bottom: 0;
    background-color: #e6e6e6;
}
ul.slick-thumbs .slick-slide {
    margin-right: 1px;
}
.slick-slider .slick-track,
.slick-thumbs .slick-track {
    min-width: 100%;
}
ul.slickslide li img,
ul.slick-thumbs li img {
    height: auto;
    margin: 0;
}
.slick-thumbs li {
    height: 100px;
}
.slick-thumbs li img {
    width: 100%;
    height: 100% !important;
    width: auto !important;
}
.slickslide li img {
    width: 100%;
    height: auto;
}
/*
ul.slickslide li img {
    max-height: 320px;
    width: auto;
}
.breakpoint-min-510 ul.slickslide li img {
    min-width: 480px;
}
.breakpoint-min-690 ul.slickslide li img {
    min-width: 345px;
}
.breakpoint-min-930 ul.slickslide li img {
    max-height: 590px;

}
.breakpoint-min-1110 ul.slickslide li img {
    min-width: 710px;
}



*/