.cvdo-stories h1 {
    font-weight: 600;
}

.cvdo-stories > .container > .row > [class*="col"] > .row {
    margin-left: -30px;
    margin-right: -30px;
}

.cvdo-stories .story {
    padding: 15px 30px;
}

.cvdo-stories .story-inner {
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
}

.cvdo-stories .story-inner:before {
    padding-top: 60%;
    content: " ";
    display: block
}

.cvdo-stories .story-inner > * {
    position: absolute;
}

.cvdo-stories .story-inner img {
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}
.cvdo-stories .story-hover {
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: calc(100% - 90px);
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px 30px;
    opacity: 0;
    transition: .3s opacity;
    font-size: 24px;
}

.cvdo-stories .story:hover .story-hover {
    opacity: 1;
    z-index: 2;
}

.cvdo-stories .story-title {
    color: #73850F;
    margin-bottom: 5px;
    margin-top: 10px;
}

.cvdo-stories .story-info {
    border: 1px solid #ddd;
    border-top: none;
}

.cvdo-stories .story-info p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.75;
}

.cvdo-stories .load-more-stories {
    font-size: 36px;
    border: 1px solid #666;
    background-color: #fff;
    border-radius: 0;
    cursor: pointer;
    white-space: normal;
}

.cvdo-stories .load-more-stories:hover {
    background-color: #666;
    color: #fff;
}

.cvdo-stories .pagination-pages {
    overflow: hidden;
}

.cvdo-stories .pagination-page {
    float: left;
    width: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    display: block;
    color: inherit;
    text-decoration: none;
}

.cvdo-stories .pagination-page.active {
    border: 2px solid #969696;
}

.cvdo-stories .story-read-more {
    display: block;
}

.cvdo-stories .sidebar-wrapper {
    padding-left: 15px;
    border-left: 1px solid #cdcdcd;
}

@media (min-width: 992px) {
    .cvdo-stories .story-info {
        border: none;
    }
}